/* Apply global styling to all elements */*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    box-sizing: border-box;
}
/* Styling for the body of the page */
body{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Styling for the main container box */
.box{
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 50px;
    border-radius: 60px 10px 60px 10px;
    box-shadow: 5px 5px 10px #ffffff;

}
/* Styling for the heading text */
.heading{
    color: rgba(48, 14, 65, 0.733);
    text-align: center;
}
/* Styling for the h1 element */
h1{
    font-size: 50px;
}
/* Styling for buttons */
button{
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
    color: #ffffff;
    cursor: pointer;
}
